body{
    background-color: black;
}

#all {
    background-color: black;
    text-align: center;
}
#head {
    font-family: Roboto;
    color: white;
    text-align: center;
}
#picture {
    font-family: Arial;
    color: white;
    text-align: center;
}
#misc {
    font-family: Arial;
    text-align: center;
}