body{
    background-color: black;
}

#all {
    background-color: black;
}
#head {
    font-family: Roboto;
    color: white;
}
#picture {
    font-family: Arial;
    color: white;
}
#misc {
    font-family: Arial;
}